.videoWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-decoration: none;
    color: inherit;
}

.videoWrapper>* {
    width: 85%;
}

.videoImageWrapper {
    position: relative;
}

.videoImage {
    object-fit: cover;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.videoName {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: var(--blackish);
}

.customRightArrow,
.customLeftArrow {
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width:425px) {
    .customRightArrow {
        right: 0;
    }

    .customLeftArrow {
        left: 0;
    }
}