:root {
    --primary-color: #BE123C;
    --grey: #6B7280;
    --light-grey: #9CA3AF;
    --blackish: #111827;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'DM Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

div.body {
    flex: 1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    html {
        font-size: 50% !important;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 37.5% !important;
    }
}