.sliderWrapper {
    padding-inline: var(--padding);
    margin-block: 7rem 2rem;
}

.sliderHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.sliderTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.7rem;
    color: var(--blackish);
}

.customRightArrow,
.customLeftArrow {
    top: 50%;
    transform: translateY(-300%);
}

div[class*="castwrap"]>.customRightArrow,
div[class*="castwrap"]>.customLeftArrow {
    transform: translateY(-50%);
}

.link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--primary-color);
    text-decoration: none;
    gap: 5px;
}

.link:hover {
    text-decoration: underline;
}

.link svg {
    width: 15px;
    height: 15px;
}

.link path {
    stroke: var(--primary-color);
}

@media (max-width:425px) {
    .customRightArrow {
        right: 0;
    }

    .customLeftArrow {
        left: 0;
    }
}